In [62]:
import pandas as pd

In [63]:
df1 = pd.read_csv('C:/Users/arimi/Documents/BSE-term2/text-mining/Booking-Scraping/data/barcelona_p1.csv')
df1.head()

,Unnamed: 0,place,start_date,end_date,name,price,description_short,rating,url,description
0,0,Barcelona,2024-02-23,2024-03-03,Duquesa Suites Barcelona,"€ 3,491",NaN,8.8,https://www.booking.com/hotel/es/duquesa-suite...,"Set the centre of Barcelona, 400 metres from P..."
1,1,Barcelona,2024-02-23,2024-03-03,Sonder Casa Luz,"€ 4,457",NaN,8.4,https://www.booking.com/hotel/es/casa-luz-barc...,"Set in Barcelona, Sonder Casa Luz offers a ter..."
2,2,Barcelona,2024-02-23,2024-03-03,Valencia 2,"€ 1,395",NaN,NaN,https://www.booking.com/hotel/es/valencia-2.en...,"Located in Barcelona, 1.2 km from Passeig de G..."
3,3,Barcelona,2024-02-23,2024-03-03,Fuster Apartments by Aspasios,"€ 2,448",Entire apartment • 2 bedrooms • 1 living room ...,9.2,https://www.booking.com/hotel/es/fuster-apartm...,Fuster Apartments are just 150 metres from Dia...
4,4,Barcelona,2024-02-23,2024-03-03,BarcelonaForRent The Central Place,"€ 5,350",Entire apartment • 1 bedroom • 1 living room •...,8.5,https://www.booking.com/hotel/es/barcelonaforr...,"Offering views of Casa Batlló, BarcelonaForRen..."

In [64]:
df2 = pd.read_csv('C:/Users/arimi/Documents/BSE-term2/text-mining/Booking-Scraping/data/barcelona_p2.csv')
df2.head()

,Unnamed: 0,place,start_date,end_date,name,price,description_short,rating,url,description
0,0,Barcelona,2024-03-08,2024-03-17,H10 Casa Mimosa 4* Sup,"€ 2,501",NaN,9.2,https://www.booking.com/hotel/es/h10-casa-mimo...,"Housed in a 19th- century modernist building, ..."
1,1,Barcelona,2024-03-08,2024-03-17,Sonder Casa Luz,"€ 1,674",NaN,8.4,https://www.booking.com/hotel/es/casa-luz-barc...,"Set in Barcelona, Sonder Casa Luz offers a ter..."
2,2,Barcelona,2024-03-08,2024-03-17,Barnapartments Basic Gracia,"€ 1,514",Entire apartment • 2 bedrooms • 1 living room ...,7.9,https://www.booking.com/hotel/es/basic-gracia-...,Located 5 minutes’ walk from Paseo de Gracia o...
3,3,Barcelona,2024-03-08,2024-03-17,Sallés Hotel Pere IV,"€ 1,492",NaN,8.1,https://www.booking.com/hotel/es/pereiv.en-gb....,"Pere IV is situated in the Poble Nou District,..."
4,4,Barcelona,2024-03-08,2024-03-17,The Streets Apartments Rambla,"€ 1,834",Entire studio • 1 bathroom • 1 kitchen • 40m²,9.3,https://www.booking.com/hotel/es/the-streets-a...,The Streets Apartments Rambla provides accommo...

In [65]:
df3 = pd.read_csv('C:/Users/arimi/Documents/BSE-term2/text-mining/Booking-Scraping/data/porto_p1.csv')
df3.head()

,Unnamed: 0,place,start_date,end_date,name,price,description_short,rating,url,description
0,0,Porto,2024-02-23,2024-03-03,São Domingos Residences 1,€ 917,Entire studio • 1 bathroom • 35m²,8.3,https://www.booking.com/hotel/pt/sao-domingos-...,São Domingos Residences 1 is a recently renova...
1,1,Porto,2024-02-23,2024-03-03,Village Aparthotel By BOA,"€ 1,114",Entire apartment • 1 bedroom • 1 living room •...,9.4,https://www.booking.com/hotel/pt/village-by-bo...,"Set in Porto, less than 1 km from Oporto Colis..."
2,2,Porto,2024-02-23,2024-03-03,Downtown PortoEdition,€ 868,Entire studio • 1 bathroom • 1 kitchen • 20m²,9.8,https://www.booking.com/hotel/pt/caldei.en-gb....,Downtown PortoEdition provides accommodation w...
3,3,Porto,2024-02-23,2024-03-03,Pao de Acucar Hotel,€ 653,NaN,8.2,https://www.booking.com/hotel/pt/paodeacucarho...,"Located in Porto’s historic centre, 100 metres..."
4,4,Porto,2024-02-23,2024-03-03,HF Ipanema Park,€ 742,NaN,8.2,https://www.booking.com/hotel/pt/ipanemapark.e...,"Featuring an outdoor swimming pool, this 5-sta..."

In [66]:
df4 = pd.read_csv('C:/Users/arimi/Documents/BSE-term2/text-mining/Booking-Scraping/data/porto_p2.csv')
df4.head()

,Unnamed: 0,place,start_date,end_date,name,price,description_short,rating,url,description
0,0,Porto,2024-03-08,2024-03-17,Charmy Studio Porto,"€ 1,138",Entire studio • 1 bathroom • 35m²,8.3,https://www.booking.com/hotel/pt/sao-domingos-...,São Domingos Residences 1 is a recently renova...
1,1,Porto,2024-03-08,2024-03-17,Renaissance Porto Lapa Hotel,€ 846,NaN,NaN,https://www.booking.com/hotel/pt/cozy-almada-b...,COZY ALMADA by HOSTY is a recently renovated a...
2,2,Porto,2024-03-08,2024-03-17,Village Aparthotel By BOA,€ 980,Entire studio • 1 bathroom • 1 kitchen • 20m²,9.8,https://www.booking.com/hotel/pt/caldei.en-gb....,Downtown PortoEdition provides accommodation w...
3,3,Porto,2024-03-08,2024-03-17,The Downtown Charming Apartments,€ 759,NaN,8.2,https://www.booking.com/hotel/pt/hoteltrypport...,"Situated in downtown Porto, this hotel is a 6-..."
4,4,Porto,2024-03-08,2024-03-17,Musical View,"€ 1,171",NaN,9.2,https://www.booking.com/hotel/pt/renaissance-p...,"Set in Porto, 1.8 km from Sao Bento Metro Stat..."

In [67]:
df1['price'] = pd.to_numeric(df1['price'].replace('[^\d]', '', regex=True))
df2['price'] = pd.to_numeric(df2['price'].replace('[^\d]', '', regex=True))
df3['price'] = pd.to_numeric(df3['price'].replace('[^\d]', '', regex=True))
df4['price'] = pd.to_numeric(df4['price'].replace('[^\d]', '', regex=True))

In [68]:
df1.head()

,Unnamed: 0,place,start_date,end_date,name,price,description_short,rating,url,description
0,0,Barcelona,2024-02-23,2024-03-03,Duquesa Suites Barcelona,3491,NaN,8.8,https://www.booking.com/hotel/es/duquesa-suite...,"Set the centre of Barcelona, 400 metres from P..."
1,1,Barcelona,2024-02-23,2024-03-03,Sonder Casa Luz,4457,NaN,8.4,https://www.booking.com/hotel/es/casa-luz-barc...,"Set in Barcelona, Sonder Casa Luz offers a ter..."
2,2,Barcelona,2024-02-23,2024-03-03,Valencia 2,1395,NaN,NaN,https://www.booking.com/hotel/es/valencia-2.en...,"Located in Barcelona, 1.2 km from Passeig de G..."
3,3,Barcelona,2024-02-23,2024-03-03,Fuster Apartments by Aspasios,2448,Entire apartment • 2 bedrooms • 1 living room ...,9.2,https://www.booking.com/hotel/es/fuster-apartm...,Fuster Apartments are just 150 metres from Dia...
4,4,Barcelona,2024-02-23,2024-03-03,BarcelonaForRent The Central Place,5350,Entire apartment • 1 bedroom • 1 living room •...,8.5,https://www.booking.com/hotel/es/barcelonaforr...,"Offering views of Casa Batlló, BarcelonaForRen..."

In [69]:
df1.describe()

        Unnamed: 0         price      rating
count  1001.000000   1001.000000  945.000000
mean    500.000000   3379.912088    7.852804
std     289.108111   1836.851740    1.127298
min       0.000000    601.000000    1.000000
25%     250.000000   2317.000000    7.300000
50%     500.000000   2999.000000    8.000000
75%     750.000000   3903.000000    8.500000
max    1000.000000  17158.000000   10.000000

In [70]:
df1.shape

(1001, 10)

In [71]:
print(df1.dtypes)

Unnamed: 0             int64
place                 object
start_date            object
end_date              object
name                  object
price                  int64
description_short     object
rating               float64
url                   object
description           object
dtype: object

In [72]:
df1['D'] = 1
df1['T'] = 1
df2['D'] = 0
df2['T'] = 1
df3['D'] = 1
df3['T'] = 0
df4['D'] = 0
df4['T'] = 0

In [73]:
pd.set_option('display.max_columns', None)

In [74]:
combined_df = pd.concat([df1, df2, df3, df4], ignore_index=True)
combined_df['T*D'] = combined_df['T'] * combined_df['D']
# Display the combined DataFrame
combined_df.head()

,Unnamed: 0,place,start_date,end_date,name,price,description_short,rating,url,description,D,T
0,0,Barcelona,2024-02-23,2024-03-03,Duquesa Suites Barcelona,3491,NaN,8.8,https://www.booking.com/hotel/es/duquesa-suite...,"Set the centre of Barcelona, 400 metres from P...",1,1
1,1,Barcelona,2024-02-23,2024-03-03,Sonder Casa Luz,4457,NaN,8.4,https://www.booking.com/hotel/es/casa-luz-barc...,"Set in Barcelona, Sonder Casa Luz offers a ter...",1,1
2,2,Barcelona,2024-02-23,2024-03-03,Valencia 2,1395,NaN,NaN,https://www.booking.com/hotel/es/valencia-2.en...,"Located in Barcelona, 1.2 km from Passeig de G...",1,1
3,3,Barcelona,2024-02-23,2024-03-03,Fuster Apartments by Aspasios,2448,Entire apartment • 2 bedrooms • 1 living room ...,9.2,https://www.booking.com/hotel/es/fuster-apartm...,Fuster Apartments are just 150 metres from Dia...,1,1
4,4,Barcelona,2024-02-23,2024-03-03,BarcelonaForRent The Central Place,5350,Entire apartment • 1 bedroom • 1 living room •...,8.5,https://www.booking.com/hotel/es/barcelonaforr...,"Offering views of Casa Batlló, BarcelonaForRen...",1,1

In [75]:
combined_df.describe()

        Unnamed: 0         price       rating            D            T
count  3979.000000   3979.000000  3745.000000  3979.000000  3979.000000
mean    496.933903   1734.719779     8.252363     0.503141     0.503141
std     287.296693   1501.870415     1.006695     0.500053     0.500053
min       0.000000    253.000000     1.000000     0.000000     0.000000
25%     248.000000    708.500000     7.800000     0.000000     0.000000
50%     497.000000   1223.000000     8.400000     1.000000     1.000000
75%     745.500000   2288.500000     8.900000     1.000000     1.000000
max    1000.000000  17158.000000    10.000000     1.000000     1.000000

In [79]:
import pandas as pd
import statsmodels.api as sm

# Assuming combined_df is your concatenated DataFrame
# You may need to create 'T' and 'D' dummy variables based on your data

# Create a dummy variable 'T*D' (interaction term)


# Function to estimate regression and return coefficients
def estimate_regression(df, column_name, regression_name):
    model = sm.OLS(df['price'], sm.add_constant(df[[column_name]])).fit()
    coeff = model.params
    return coeff

# Regression 1: Treatment Period Dummy Only
regression_df1 = estimate_regression(combined_df, 'D', 'Regression_df1')

# Regression 2: Treatment City Dummy Only
regression_df2 = estimate_regression(combined_df, 'T', 'Regression_df2')

# Regression 3: Both Treatment Period and City Dummy with Interaction (DiD)
regression_df3 = estimate_regression(combined_df, 'T*D', 'Regression_df3')

# Display the regression table
print(regression_df1)
print(regression_df2)
print(regression_df3)

const    1384.692969
D         695.682655
dtype: float64
const     832.890238
T        1792.397475
dtype: float64
const    1181.718603
T*D      2198.193485
dtype: float64